@import "screen";
@import "foundation";
body{
  color:#fff;
}
.debug{
  border:1px solid #f0f;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Kranky', cursive;
}

pre,input{
  font-size:110%;
  font-family: 'Source Code Pro', monospace, sans-serif;
}
.clickable{
  border:none;
  border-bottom:1px solid #2278D6;
  transition:border-bottom 0.3s ease;
  &:hover{
    border-bottom:1px solid #EE529C;
  }
  &.disabled:hover{
    border-bottom:1px solid #666;    
  }
}
input[type="button"],.button,.btn{
  @extend .clickable;
  background:none;
  color:#C6CEF5;
  padding:10px 20px;
  font-size:125%;
  transition:background 0.25s ease, color 0.25s ease;
  
  &:hover{
    background:rgba(0, 0, 0, 0.3);
    color:#fff;
  }
}
.display{
  position: absolute;
  top: 0px;
  left: 0px;
  max-width:100%;
  padding:15px;
  opacity: 0.85;
  width:100%;
  background:rgba(0, 0, 0 ,0.3);
  transition:opacity 0.3s ease,background 0.3s ease;
  &:hover{
    opacity:1;
    background:rgba(0, 0, 0 ,0.35);
  }
  ul li p{
    margin:3px 4px;
  }
  h2, h5, pre, ul li p, ul li h4, label{
    color:#fff;
  }
  ul.positionList{
    list-style-type:none;
    margin:0;
    li{
      display:inline-block;
    }
  }
  select#controlSelect{
    font-size:20px;
  }
}

