<div class="row">
  <div class="columns small-12 large-12">
    <ul class="small-block-grid-2 large-block-grid-3">
      <li>
        <p>Food Sources: {{foodSourceCount()}}</p>
      </li>
      <li>
        <p>Cells: {{cellCount()}}</p>
      </li>
      <li>
        <p>Tiles: {{tileCount()}}</p>
      </li>
      <li>
        <p>Render Functions: {{renderFunctionCount()}}</p>
      </li>
      <li>
        <select
          id="cameraSelect"
          ng-model="driveThis"
          ng-options="item as item.name for item in driveable"
          ng-change="updateKeyboardBinding(driveThis)">
        </select>

      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns small-12 large-12">
    <textarea id="workerCode" >
      {{workerBlobText}}
    </textarea>
  </div>
  <div class="columns small-12 large-12">
    <input ng-click="runWorker()" type="button" value="Do!"/>
  </div>
</div>