<div class="wrapper {{noWebGl||'webGlDetected'|inflector:'variable'}}" 
ui-keydown="{ 13:'keyDown($event).enter($event)', 38:'keyDown($event).up($event)', 40:'keyDown($event).down($event)', 37:'keyDown($event).left($event)',  39:'keyDown($event).right($event)', 87:'keyDown($event).up($event)', 65:'keyDown($event).left($event)', 83:'keyDown($event).down($event)', 68:'keyDown($event).right($event)', 32:'keyDown($event).space($event)', 69:'keyDown($event).e($event)',  70:'keyDown($event).f($event)', 67:'keyDown($event).c($event)'}" 
  ui-keyup="{ 13:'keyUp($event).enter($event)',   38:'keyUp($event).up($event)',   40:'keyUp($event).down($event)',   37:'keyUp($event).left($event)',     39:'keyUp($event).right($event)',   87:'keyUp($event).up($event)',   65:'keyUp($event).left($event)',   83:'keyUp($event).down($event)',  68:'keyUp($event).right($event)',   32:'keyUp($event).space($event)',   69:'keyUp($event).e($event)',    70:'keyUp($event).f($event)',   67:'keyUp($event).c($event)'}" tabindex="0">
  
  <div ng-controller="DisplayManagerCtrl">
    <div class="row collapse">
      <div class="small-3 columns">
        <h2 class="subheader">Survival</h2>
        <h5 ng-show="DEBUG"><!-- @echo revision --> </h5>
      </div>
      <div class="small-9 columns" ng-include="templates.controlPanel"></div>
    </div>
  <div id="renderer" ng-click="mouseDown($event)">Loading Three.js</div>
</div>
<div ng-include="templates.debug" id="debug"></div>
