
<div class="wrapper {{noWebGl||'webGlDetected'|inflector:'variable'}}" 
ui-keydown="{ 13:'keyDown.enter($event)', 38:'keyDown.up($event)', 40:'keyDown.down($event)', 37:'keyDown.left($event)',  39:'keyDown.right($event)', 87:'keyDown.up($event)', 65:'keyDown.left($event)', 83:'keyDown.down($event)', 68:'keyDown.right($event)', 32:'keyDown.space($event)', 69:'keyDown.e($event)',  70:'keyDown.f($event)', 67:'keyDown.c($event)'}" 
  ui-keyup="{ 13:'keyUp.enter($event)',   38:'keyUp.up($event)',   40:'keyUp.down($event)',   37:'keyUp.left($event)',     39:'keyUp.right($event)',   87:'keyUp.up($event)',   65:'keyUp.left($event)',   83:'keyUp.down($event)',  68:'keyUp.right($event)',   32:'keyUp.space($event)',   69:'keyUp.e($event)',    70:'keyUp.f($event)',   67:'keyUp.c($event)'}" tabindex="0">
  <div class="row collapse">
    <div class="small-3 columns">
      <h2 class="subheader">Three.js</h2>
    </div>
    <div class="small-3 columns">
      <p class="subheader">Tiles: {{tileManager.tiles.length||0}}</p>
      <p class="subheader">Tile Sets: {{ tileSets.length||0}}</p>
    </div>
    <div class="small-3 columns">
      <a class="button" ng-click="tileManager.dumpTiles('');">dump</a>
      <a class="button" ng-click="tileManager.saveTiles();">save</a>
      <a class="button" ng-click="toolManager.loadTiles();">load</a>
      <a class="button" ng-click="toolManager.show('createTile');">createTile</a>

    </div>
    <div class="small-3 columns">
      <p></p>
      <!-- <p class="button" ng-click="value = value-1;echoValue()">[-]</p> -->
      <p class="button" ng-click="toolManager.show('getTileAtCoord');">getTileAtCoord(row,column)</p>
    </div>

  </div>
  <div class="row collapse" ng-show="toolManager.tools.getTileAtCoord.show" id="getTileAtCoord">
    <div class="small-3 columns">
      getTileAtCoord(
    </div>
    <div class="small-3 columns">
      <input type="text" class="row" id="getCoordRow" placeholder="row" ng-model="toolManager.tools.getTileAtCoord.values.row"/>,
    </div>
    <div class="small-3 columns">
      <input type="text" class="column" id="getCoordColumn" placeholder="column" ng-model="toolManager.tools.getTileAtCoord.values.column"/>
    </div>
    <div class="small-3 columns">
      )
      <p class="button" ng-click="aTile=tileManager.getTileAtCoord(toolManager.tools.getTileAtCoord.values.row,toolManager.tools.getTileAtCoord.values.column);">&hellip;</p>

    </div>
  </div>
  <div class="row collapse" ng-show="toolManager.tools.createTile.show" id="createTile">
    <div class="small-3 columns">
      createTile({
    </div>
    <div class="small-3 columns">
      <label for="createTileCoordRow">row:</label><input ng-show="createTileCoordRowEditing===true" type="text" class="row" id="createTileCoordRow" placeholder="0" ng-model="toolManager.tools.createTile.values.row"/>
      <p ng-hide="createTileCoordRowEditing" class="row" id="createTileCoordRowP" ng-bind="toolManager.tools.createTile.values.row" ng-click="createTileCoordRowEditing=true"></p>
    </div>
    <div class="small-3 columns">
      <label for="createTileCoordColumn">column:</label><input ng-show="createTileCoordColumnEditing===true" type="text" class="column" id="createTileCoordColumn" placeholder="y" ng-model="toolManager.tools.createTile.values.column"/>
      <p ng-hide="createTileCoordColumnEditing" class="column" id="createTileCoordColumnP" ng-bind="toolManager.tools.createTile.values.column" ng-click="createTileCoordColumnEditing=true"></p>
    </div>
    <div class="small-3 columns">
      })
      <p class="button" ng-click="aTile=tileManager.createTile({'row':toolManager.tools.createTile.values.row,'column':toolManager.tools.createTile.values.column});">&hellip;</p>
      {{toolManager.tools.createTile.values.column}}
    </div>
  </div>
  <div class="row collapse">
    <div class="small-12 columns">
            {{aTile}}
    </div>
  </div>
  <div id="renderer" ng-click="mouseDown($event)">Loading Three.js</div>
</div>
<!-- @if NODE_ENV='development' -->
<div ng-include="templates.debug" id="debug"></div>
<!-- @endif -->